#footo{
  height:250px;
  width:250px;
}
.card{
  display:grid;
  grid-template-columns: auto auto auto auto;
  margin:90px;
}
#foto2{
  height: 400px;
  width: 450px;
}
.banner{
  display: flex;
  background-color: crimson;
  color: white;
  margin: 80px 50px ;
  padding: 30px;
}
.cardholder{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
.image-main{
  margin-top: 60px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}
#believe{
  color: black;
  text-align: center;
  padding-left: 0%;
  font-size: 50px;
  margin-top: 110px;
}
 .image-container{
  border-radius: 15px ;
  width: 350px;
  height: 470px;
  background-size: cover;
  background-position: center;
  animation: changeImage 10s infinite;
 }
 @keyframes changeImage{
 0% {
  background-image: url("/public/image/PP1.jpg");
 }
 33% {
    background-image: url("/public/image/C\ bat2.jpg");
 }
 66%{
    background-image: url("/public/image/PP3.jpg");
 }
 100%{
    background-image: url("/public/image/bat 4.jpg");
 }
}

              /* This is footer css */ 
.fot ul{
  list-style-type:none;
}
.fot{
  height: auto;
  width: 100%;
  gap: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display:grid ;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  background-color:#555555;
  color:white;
  margin:auto;
}
.fot ul li{
  margin:10px;
  font-size: small;
  font-weight: bold;
}
.fot ul li a{
  text-decoration: none;
  color:white;
}
.foot{
  width:100%;
  background-color: black;
  gap:70px;
}
.lastfoot{
  width: auto;
  height: auto;
  text-align: center;
}
input[type='email']{
  height: 50px;
  width: 380px;
  border-radius: 10px;
  text-align: center;
}
input[type='email']:hover{
  height: 55px;
  width: 390px;
}
button{
  color: white;
  background: red;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
  width: 130px;
}

                /* 2nd footer*/
#lastfoot1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 85px;
  text-shadow: 0px 0px 5px rgb(131, 130, 130);
  color: white;
  -webkit-text-stroke: 2px rgb(114, 112, 112);

}
.fa-solid{
  color: rgb(243, 247, 245);
  font-size: x-small;
  column-gap: 30%;
}