#footo{
  height:250px;
  width:250px;
}
.card{
  display:grid;
  grid-template-columns: auto auto auto auto;
  margin:90px;
}
#foto2{
  height: 400px;
  width: 450px;
}
.banner{
  display: flex;
  background-color: crimson;
  color: white;
  margin: 80px 50px ;
  padding: 30px;
}

.cardholder{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 40px;
}