.App{
    background-color: black;
    color: white;
    margin-top: 0%;
}
.App-header{
    display:flex;
    margin-left: 5%;
    justify-content: space-between;
}
#foto{
    border-radius: 50%;
    box-shadow: 5px grey;
    width: 40px;
    height: 40px;
}
.topbtn li{
    display: flex;
    list-style-type: none;
    margin-right: 15px;
    justify-content: start;
}