.App{
    color: white;
}
.App-header{
    display:flex;
    justify-content:space-between;
    padding:0px 90px;
    background-color: black;
}
#bbs{
  font-size: 60px;
 text-decoration: none;
 color: white;
}
.header2{
  color:black;
  background-color: #808080;
  
}
.header2 ul{
  display:flex;
  text-align: center;
  justify-content: space-evenly;
  padding:0px 190px;
}
.header2 ul li{
  text-decoration: none;
  list-style-type: none;
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}
.header2 ul li a{
  list-style-type: none;
  text-decoration: none;
  color:black; 
}
#foto{
    border-radius: 50%;
    box-shadow: 5px grey;
    position: relative;
    /* top: -20px; */
    width: 80px;
    height: 80px;
    padding: 10px;
}
  #login{
    font-size:xx-large;
    margin: 20px;
    color: white;
  }
