.video-main{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 80px;
     border-radius: 15px;
}
.video-main video{
    width: 390px;
    height: 470px;
    margin-left: 160px;
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
}
.video-item video{
    border-radius: 25px;
   
<<<<<<< Updated upstream
}
=======
}
#card5{
    width: 150px;
    height: 100px;
}
>>>>>>> Stashed changes
